
.main-header{
padding: 5px;
}

.test-table{
    display: flex;
    width: 100%;
}

.row-test{
    margin: 5px;
    padding: 3px;
}

.column-test{
    width: 25%;
    min-width: 25%;
}

.long{
    
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 245, 238, .2);
}

.under-construction{
    margin-left: auto;
}

.under-construction p{
    font-style: italic;
    color: gray;
}
caption {
    display: none;
}

div {
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 100%;
}
.table-container {

    width: 100%;
    border-collapse: collapse;
}

.flag-icon {
    margin-right: 0.1em;
}

.item-title,
.title {
    font-family: "PT Sans";
    font-weight: 700;
    color: #111111;
    text-align: left;
}

tbody,
table {
    display: block;
}

.flex-row {
    width: 25%;
}

.flex-row-10 {
    /* width: 10%;
    min-width: 10%; */
    width: 60px;
    min-width: 60px;
    padding-left: 10px;
}

.flex-row-5 {
    width: 5%;
}

.flex-row-30 {
    width: calc(95% - 60px);
    min-width: calc(95% - 60px);
    max-width: calc(95% - 60px);
    padding:  0 5px;
    text-align: center;
}

.flex-row-50 {
    width: 55%;
    min-width: 55%;
}

.flex-row,
.flex-cell {
    text-align: center;
}


.test {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out, transform .3s ease-in-out;

    flex-grow: 1;
    width: 100%;
    min-width: 100%;
    display: block;
    padding: 5px;
    background: white;
}

.test:hover {
    border: none;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    font-family: "Helvetica Neue", Helvetica,

}

.test:hover .fa {
    color: #0b4984;
}

.flex {
    height: 100%;
}

.content-part{
    width: 100%;
}

.content-part .div-container{
    width: 100%;
    min-width: 100%;
}

.content-part .div-container div .test div div img{
    width: 30px;
    padding: 5px;
}
 
.content-part .div-container div .test{
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 5px 0;
    margin: 10px 0 ;
}

.left i {
    width: 60px;
    min-width: 60px;
    text-align: center;
}

.md{
    display: flex;
}

.lg{
    display: none;
}

.column-test{
    width: 33%;
    min-width: 33%;
    padding: 6px;
}

@media only screen and (max-width: 1650px) {

    .flex-row-30 {
        width: 40%;
    }

    .flex-row-50 {
        width: 45%;
        min-width: 45%;
    }

}

@media only screen and (max-width: 1340px) {

    .flex-row-30 {
        width: calc(90% - 60px);
    min-width: calc(90% - 60px);
    max-width: calc(90% - 60px);

    }

    .flex-row-50 {
        width: 40%;
        min-width: 40%;
    }

    .item-title {
        text-align: center;
        padding-left: 5px;
        font-size: 14px;
    }

    .line {
        display: none;
    }

    .flex {
        justify-content: center;
    }
}
@media only screen and (max-width: 1150px) {
    .md{
        display: flex;
        width: 100%;
    }

    .lg{
        display: none;
    }

    .column-test{
        width: 33%;
        min-width: 33%;
    }

    .count {
        margin-right: 15px;
    }

}

@media only screen and (max-width: 1000px) {

    .top {
        flex-direction: column;
    }

    .part {
        width: 100% !important;
    }
}

@media only screen and (max-width: 700px) {

    .md{
        flex-direction: column;
    }

    .column-test{
        width: 100%;
        min-width: 100%;
    }

    .reactions div {
        display: flex;
        justify-content: center;
    }
    .test>.row {
        flex-direction: column;
    }

    .line {
        display: none;
    }

    .flex>td>.flex {
        justify-content: center;
    }

    .flex-row-10 {
        padding: 0 !important;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .flex-row-30 {
        width: 100%;
        padding: 5px !important;
    }

    .flex-row-50 {
        width: 100%;
        padding: 5px !important;
    }

    .item-title,
    .desc {
        text-align: center;
        padding: 0 !important;
        width: 100% !important;
    }

    .test,
    .flex-row-30,
    .flex-row-50,
    .flex-row-5,
    .flex-row-10 {
        height: auto;
        padding: 5px 0;
    }

    .flex-row-10 {
        padding-top: 15px;
    }

    .reactions,
    .flex-row-5 {
        margin: 0 !important;
    }

    .title {
        font-size: 0.6em;

    }
}

.conteiner {
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 10px;
}

.accordion {
    width: 100%;
}

.accordion-menu {
    max-width: 19%;
    padding: 5px;

    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
 
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out, transform .3s ease-in-out;
    width: 80%;
    margin: auto;
 
    flex-grow: 1;
    width: 100%;
    min-width: 100%;
    display: block;
 padding: 5px;
}

.accordion-menu > summary {
    box-shadow: none;
    background: white;
}
.block {
    display: flex;
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.part {
    width: 50%;
    padding: 0 10px;
}

.third {
    width: 33%;
}

.half {
    display: flex;
}

.scroll {
    max-height: 300px;
    overflow: auto;
}

summary {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: white;
    margin-bottom: 20px;
  
}

.summary-part {
    margin: 0;
}

.block-header {
    height: 50px;
    max-height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
 
}

.descm, .flex-row-50{
    display: none;
}


.left,
.right {
    display: flex;
    align-items: center;
}

.count {
    background: #979797;
    padding: 7px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 5px;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
    pointer-events: all;
}

summary:hover {
    cursor: pointer;
}

summary:hover .count {
    transition: all .34s ease-in-out, transform .3s ease-in-out;
    scale: 1.1;
   /*  font-size: 14px; */
    background:  #015db6;
}

.content-part {
    width: 100%;
}

.content-list {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.content-item {

    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid gray;
    padding: 10px;
}

.content-item-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.line {
    background-color: #979797;
    width: 30px;
    min-width: 30px;
    height: 2px;
    margin-right: 20px;
    display: none;
}

.desc {
    color: #979797;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
}

.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
}

.left{
    pointer-events: none;
}

.right{
    pointer-events: none;
}
.content-item-wrapper>div {
    display: flex;
    align-items: center;
}

.item-title {
    margin: 0;
}

.reactions>a:hover,
.reactions>i:hover {
    cursor: pointer;
}

.logo {
    max-width: 40px;
    max-height: 40px;

}

.reactions {
    margin-right: 15px;
    justify-content: flex-end;
}

.reactions>a {

    font-size: 18px;
    text-decoration: none;
    /* no underline */
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.top {
    align-items: start;
}

.title-logo{
    width: 40px;
    padding-right: 20px;
    padding-left: 10px;
}

 
@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.under-construction-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}